#landing {
background-colour: white;
height: 100%;
width: 100%;
}

#about {
background-colour: black;
height: 100%;
width: 100%;
}

#portfolio {
background-colour: white;
height: 100%;
width: 100%;
}

#contact {
background-colour: black;
height: 100%;
width: 100%;
}