#landing {
background-color: #d0482b;
height: 120vh !important;
width: 100%;
}

.about-me-p {
	margin-top: 20px !important; 
	font-size: 20px;
	font-family: Dosis;
}

.img-container {
	margin-top: 250px;
}

#about {
background-color: white;
height: 180vh;
width: 100%;
margin-top: ;
}

#portfolio {
background-color: black;
height: 100vh;
width: 100vw;
}

/*this is code for contact stuff*/
#contact {
background-color: #d0482b;
height: 100px;
width: 100vw;

}

#contact-info {
	padding-top: 25px;
}

a {
	margin: 0 auto;
	color: white !important;
	font-family: Dosis;
	font-size: 24px;
}

.social-icons {
color: white;
font-size: 45px;
margin-right: 40px;
margin-left: 40px;
}
